.ant-layout-content {
  min-height: calc(100vh - 44px);
}

.BaseLayout {
  & .logo-title {
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 10px;
    position: relative;
    top: 1px;
  }
}
